

.item-complex.item-assertive-custom > .item-content{
  background-color: #ABC8E2 !important;
}

.dot-blue-middle{
  position: absolute;
  top: 24px;
  right: 100px;
  background: #4169E1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
