
.iphone-link-style{
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  padding: 13px 0px;
}

.iphone-link-style > span{
  padding-left: 15px;
}

i.icon-accessory-profile{
  float: right;
  padding-right: 25px;
}
