<ion-view title="Neuer Checkin" hide-back-button=true>

  <ion-nav-buttons side="left">
      <button id="info-button" ng-click="checkin.info()" class="button button-clear button-positive"><i class="icon ion-information"></i></button>
  </ion-nav-buttons>

  <ion-content>

<div class="content-block">
  <div class="col-md-4 text-center">
    <span class="ueberschrift-h1">Hier kannst du einen neuen Checkin angeben:</span>
  </div>
  <div class="space"></div>
  <div class="col-md-4 text-center">
    <button type="button" class="btn btn-circle-pos" ng-click="checkin.goToCheckin()"><span id="text-button">Neuer Checkin</span></button>
  </div>
</div>

  </ion-content>
</ion-view>
