<ion-view title="Neue Essattacke" hide-back-button=true>
  <ion-nav-buttons side="left">
      <button id="info-button-overeating" ng-click="overeating.info()" class="button button-clear button-positive"><i class="icon ion-information"></i></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="content-block">
      <div class="col-md-4 text-center">
        <span class="ueberschrift-h1">Hier kannst du eine Essattacke eingeben:</span>
      </div>
      <div class="space"></div>
      <div class="col-md-4 text-center">
        <button type="button" class="btn btn-circle btn-danger" ng-click="overeating.goToOvereating()"><span id="text-button">Neue Essattacke</span></button>
      </div>
    </div>
  </ion-content>
</ion-view>
