<ion-view cache-view="false" title="Meine Gerichte" hide-back-button=true>

  <ion-nav-buttons side="right">
      <button ng-click="foods.goToCreateFood()" class="button button-clear button-positive"><i class = "icon ion-plus-round"></i></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="left">
      <button ng-click="foods.goToProfile()" class="button button-clear button-positive"><i class = "icon ion-chevron-left"></i></button>
  </ion-nav-buttons>


  <ion-content>
      <ion-list>
        <span class="ueberschrift-h1-grey margin-left" ng-show="!foods.data.length">Bisher noch keine lebensmittel erfasst.</span>

          <ion-item ng-repeat="foo in foods.data"
          class="item-chat item-remove-animate item-avatar item-icon-right"
          type="item-text-wrap">
        <img ng-src="food-icon.png"/>
       <h2><span>Name: </span>{{foo.name}}</h2>
       <h2><span>Kalorien: </span>{{foo.calories}} <span>kcal/100g</span></h2>
       <i class="icon ion-chevron-right icon-accessory"></i>

       <ion-option-button class="button-assertive" ng-click="foods.deleteFood(foo)">
         Delete
       </ion-option-button>

     </ion-item>
   </ion-list>



  </ion-content>
</ion-view>
