
<ion-view cache-view="false" title="Aufgaben" hide-back-button=true>
  <ion-nav-title>Ziele</ion-nav-title>

  <ion-nav-buttons side="left">
    <div side="left">
      Level:
      <ion-badge item-end>{{checkin.currentLevel}}</ion-badge>
    </div>

  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content>


    <div class="card list">
      <div class="item item-divider">
        Noch {{checkin.currentGoal.checkins - checkin.numOfCheckinsInCurrentLevel}} Checkins bis Level {{checkin.currentLevel + 1}}
      </div>
      <div ng-morris-donut-chart
      chart-options="{colors:['#eaeaea','#00b200']}"
      chart-data="[{label: 'Checkins bis zum Ziel', value: checkin.currentGoal.checkins - checkin.numOfCheckinsInCurrentLevel},
                  {label: 'erledigte Checkins', value: checkin.getNumOfCheckinsInCurrentLevel}]"
      name="goalChart">
    </div>
  </div>

  <div class="card list">
    <div class="item item-divider">
      Bis zum {{checkin.dateToString(checkin.levelGoalDate)}} darfst du dich noch maximal {{checkin.currentGoal.overeatings - checkin.getNumOfOvereatingsInCurrentLevel}} mal überessen!
    </div>

    <div ng-morris-donut-chart
    chart-options="{colors:['#eaeaea','#FF0000']}"
    chart-data="[{label: 'erlaubte Essattacken bis Levelziel', value: checkin.currentGoal.overeatings - checkin.getNumOfOvereatingsInCurrentLevel},
                {label: 'eingetragene Essattacken', value: checkin.getNumOfOvereatingsInCurrentLevel}]"
    name="goalChart">
  </div>
  </div>
</ion-content>

</ion-view>
