
<ion-view cache-view="false" title="Aufgaben" hide-back-button=true>
  <ion-nav-title>Ziele</ion-nav-title>

  <ion-nav-buttons side="left">
    <div side="left">
      <h6>Level: {{goal.currentLevel}}</h6>

    </div>

  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content>


    <div class="card list">
      <div class="item item-divider" >
        Noch {{goal.currentGoal.checkins - goal.numOfCheckinsInCurrentLevel}} Checkins bis Level {{goal.currentLevel + 1}}
      </div>
      <div ng-morris-donut-chart
      chart-options="{colors:['#eaeaea','#00b200']}"
      chart-data="[{label: 'Checkins bis zum Ziel', value: goal.currentGoal.checkins - goal.numOfCheckinsInCurrentLevel},
                  {label: 'erledigte Checkins', value: goal.getNumOfCheckinsInCurrentLevel}]"
      name="goalChart">
    </div>
  </div>

  <div class="card list">
    <div class="item item-divider">
      Bis zum {{goal.dateToString(goal.levelGoalDate)}} darfst du dich noch maximal {{goal.currentGoal.overeatings - goal.getNumOfOvereatingsInCurrentLevel}} mal überessen!
    </div>

    <div ng-morris-donut-chart
    chart-options="{colors:['#eaeaea','#FF0000']}"
    chart-data="[{label: 'erlaubte Essattacken bis Levelziel', value: goal.currentGoal.overeatings - goal.getNumOfOvereatingsInCurrentLevel},
                {label: 'eingetragene Essattacken', value: goal.getNumOfOvereatingsInCurrentLevel}]"
    name="goalChart">
  </div>
  </div>
</ion-content>

</ion-view>
