<ion-view cache-view="false" title="Rangliste" hide-back-button=false>

  <ion-nav-buttons side="left">
    <button id="info-button" ng-click="lead.info()" class="button button-clear button-positive"><i class="icon ion-information"></i></button>
  </ion-nav-buttons>

  <ion-content>



    <ion-list>
      <span class="ueberschrift-h1-grey" ng-show="!lead.allBoardEntries.length">Bisher noch keine Konkurrenten auf der Rangliste</span>

      <ion-item
      ng-repeat="e in lead.allBoardEntries"
      class="item-chat item-remove-animate item-avatar item-icon-right"
      type="item-text-wrap">
      <h2><span></span>{{e.username}}</h2>
      <span class="label-leaderboard-level">Punkte: {{ e.points }}</span>
      <span class="label-leaderboard-points">Level: {{ e.level }}</span>




    </ion-item>
  </ion-list>



</ion-content>
</ion-view>
