<ion-view cache-view="false" title="Rangliste" hide-back-button=false>

  <ion-nav-buttons side="left">
    <button id="info-button" ng-click="lead.info()" class="button button-clear button-positive"><i class="icon ion-information"></i></button>
  </ion-nav-buttons>

  <ion-content>

    <div ng-if="lead.allBoardEntries.length > 0" class="row header">
      <div  class="col">Platz:</div>
      <div class="col">Username:</div>
      <div class="col">Punkte:</div>
      <div class="col">Level:</div>
    </div>

    <ion-list>
      <span class="ueberschrift-h1-grey" ng-show="!lead.allBoardEntries.length">Bisher noch keine Konkurrenten auf der Rangliste</span>

      <ion-item
      ng-repeat="e in lead.allBoardEntries"
      class="item-chat item-remove-animate item-avatar item-icon-right"
      type="item-text-wrap">

      <div class="row header">
        <div class="col">{{ $index + 1 }}</div>
        <div class="col">{{e.username}}</div>
        <div class="col">{{ e.points }}</div>
        <div class="col"> {{ e.level }}</div>
      </div>

    </ion-item>
  </ion-list>



</ion-content>
</ion-view>
